/* File created by Jessie on 10/27 */
/* Styled navigation bar together on 10.5.2020*/
#navbar {
    background-color: #fff2d9;
    text-align: right;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    }
    


#navbar li {
    display: inline-block;
    padding: 10px;
}

a:hover {
    color: #a3a099;
}

a {
    color: black;
}

body {
    font-family: 'Coming Soon', cursive;
    background-color: #e2ffd6;
}

h4 {
    text-align: center; 
}

h3 {
    text-align: center; 
}

img {
    width: 425px;
 
}


#COGs {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

iframe {
    text-align: center;
}

h2 {
    text-align: center; 
}

p {
    text-align: left; 
    font-size: 20px;
    
    
}



