
#navbar {
    background-color:  #fffea8;
    border-style: solid;
    border-color: rgb(192, 191, 191); 
    border-width: 3px;
    padding-right: 100px;
    padding-top: 25px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    display: flex;
    justify-content: center;


}

#navbar li {
    display: inline-block;
    font-size: 30px;
}

img {
    transition: all 0.2s;
}

img:hover {
    transform: scale(1.1);
}

body {
    background-color: rgb(226, 226, 226);
}

p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: gray;
}

div.scroll {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fffea8; /*slightly more green: #fbffc1 */
    width: 600px;
    height: 815;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    padding-left: 30px;
    padding-top: 20;
    padding-right: 30;
    border: 3px;
    margin-left: 3%;
    margin-top: 1%;
    float: left;
    border-width: 3px;
    border-color: rgb(192, 191, 191);
    border-style: dashed;
}

div.scroll2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fffea8;
    width: 1400px;
    height: 200;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    /*margin-left: 1%; */
    color: black;
    border-style: dashed;
    border-color: lightgray;
    border-width: 3px;
    /*margin-bottom: 2%; */
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding-left: 230px;
    font-size: 30px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding-left: 20px;
    font-size: 30px;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding-left: 20px;
    font-size: 25px;
    text-align: center;
}

.cropped1 {
    width: 200px;
    height: 200 px;
    object-fit: cover;
    border: 4px solid rgb(192, 191, 191);
    margin-top: 5%;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 1em;
    
}

.sidescroll {
    width: 700px;
    height: 100px;
    object-fit: cover;
    border: 4px solid rgb(192, 191, 191);
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
    float: left;
    padding-bottom: 30px;
    
}

.intros {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    margin-right: 2%;
    margin-left: 52%;
}

.resources {
    font-style: italic;
}

/*.popup1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext :after {
    content: "Here is a 'Corona Ghost'! Don't let them near your mask, no matter how cute they are! :)";
    posistion: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent; 
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
} */