/* schuyler created this file */

#navbar {

    text-align: center;
    font-family: 'Poppins';
    
    }
    

    #navbar a {
        text-decoration: none;
    }

    #navbar {
        font-size: 20px;
    }
    
#navbar li {
    display: inline-block;
    padding: 1px;
}

a:hover {
    color:;
}

a {
    color: rgb(177, 73, 26);
}

h1 {
    font-family: 'Poppins', sans-serif;;
    font-size: 60px;
    text-align: center
}
#navbar a {
   
    padding-left: 100px;
    padding-right: 300px;
}
body {
    ;

}

body {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: rgb(209, 143, 82);
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 200%;
    padding: 20px;
  }