/* This was created by Avery on October 27 2020 */

/* avery changed the background and added the Navbar on november 6 */

#navbar {
 background-color: #bbf6bb ;   
 text-emphasis-color: white;
 text-align: center;
 border-style: solid; 
 border-color: #ffa6d9;
 font-family: monospace;
font-size: 26px;
}   
 
body {  
    background-color: white;  


    
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1{
    text-decoration-color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 33px;
    text-decoration: underline;

}

h2{
    text-decoration-color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 27;
}


#navbar li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    
   
}

img  {
    margin-left: auto;
    margin-right: auto;

    

  }
  
  #description {
    font-family: 'Comfortaa', cursive;
    font-size: 27px;
}

#yayuwu {
    border-style: solid

}

.joe{
  margin-left: auto;
  margin-right: auto;
  text-align: center;


}

p{
    text-decoration-color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 27;
}


h4{
    text-decoration-color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 27;
    text-decoration: underline;
}

iframe {
    align-self: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}
#hallo {
    font-family: 'Comfortaa', cursive;
    font-size: 27px;
    
}

h5 {
    text-decoration-color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 27;
    text-decoration: underline;
}

h6 {
    text-decoration-color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 27;
    text-decoration: underline;
}

#hallo p.solid {
    border-style: double;
}

.hay img {

    border-style: solid;
    border-width: 10px;
    border-color:#bbf6bb;
}

.hay {
	text-align: center;
}

a:link {
    text-decoration: underline;
    color: blue;
}
