/* This is a comment! It doesn't affect your code but can be used for descriptions */

body {
    background-color:#EBDECf;
  }
h1{ 
    font-family: 'Source Code Pro', monospace;
    text-align: center; 
    font-size: 30;
}
   




h2 {
    color: rgb(46, 45, 45);
    font-family: 'Source Code Pro', monospace;
    text-align: center; 
    font-size: 30;
}
 
 h5{
    /* Search "hex color picker" in Google to pick a color by hex value */
    color: rgb(46, 45, 45);
    font-size: 17;
    font-family: 'Source Code Pro', monospace;
    text-align: center; 
 } 

 

 #navbar {  
     font-family: 'Source Code Pro', monospace;
    text-align: center; 
    font-size: 30; 
    background-color: rgb(255, 255, 255); 
   border-style: ridge;  
   border-color: rgb(255, 255, 255);
  }  

    #navbar li { 
        display: inline-block;
    } 


body {
    text-align: center;
}

p {
    border-style: double;
    padding: 5px;
}

h1 {
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}


    
   