/* font-family: 'Satisfy', cursive;  Copy and paste this to use the font satisfy */
/* Josie added style for p and h2 */
/* Josie created style.css */



body{ 
    background-color:rgb(4, 4, 43);
    text-align: center;
}
h2{
    color:rgb(250, 215, 16);
    text-align: center;
}
h5{
    color:rgb(250, 215, 16);
    text-align: center;
}
p{
    color: rgb(250, 215, 16);
    font-size: 20;
   
}
#nav{
    background-color: rgb(18, 18, 71);
    border-style:outset;
    border-color: rgb(2, 2, 31);
    color: rgb(250, 215, 16);
    text-align: center;
}

#nav ul{
    font-family: cursive;
}
#nav li{
    display: inline-block;
    font-size: 30px;
    padding-left: 100;
    padding-right: 100;
  
}
#nav a{
    color: rgb(250, 215, 16);
    
}

#nav #Title{
    font-size: 40;
}
img:hover{
    transform: scale(1.07);
}
h3{
    color: rgb(250, 215, 16);
}

